$above-phone: "only screen and (min-width : 576px)";
$above-tablet: "only screen and (min-width : #{$tablet})";
$above-desktop: "only screen and (min-width : #{$desktop})";
$above-wide-screen: "only screen and (min-width : #{$widescreen})";

$under-phone: "only screen and (max-width : 576px)";
$under-tablet: "only screen and (max-width : #{$tablet})";
$under-desktop: "only screen and (max-width : #{$desktop})";
$under-wide-screen: "only screen and (max-width : #{$widescreen})";
