.background-content {
    background-color: var(--chart-background-color);
    background: var(--chart-background);
    margin-left: -10px;
    padding: 20px;
}

.foreground-content {
    padding: 5px;
    margin-top: -20px;
    background: transparent;
    @include from($mobile) {
        padding: 0 30px 30px;
    }
}
