@font-face {
    font-family: mestizos-unidos;
    src: url('../fonts/MestizosUnidos.otf');
}

html {
    font-family: var(--font-sans-serif);
    font-size: var(--body-size);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: var(--render-mode);
    text-size-adjust: 100%;
}

html, body, #app {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    margin: 0 !important;
}

#app {
    background-color: var(--background-color);
    color: var(--font-color)
}

[v-cloak] {
    display: none;
}

.logo {
    font-family: mestizos-unidos;
}
