@mixin shades($name, $color) {
    $darker: darken($color, 7.5%);
    --#{$name}-color: #{$color};
    --#{$name}-color-darker: #{$darker};
}

@mixin statusColors($name) {
    color: white;
    background-color: var(--#{$name}-color);

    &:hover {
        background-color: var(--#{$name}-color-darker);
    }
}
