@mixin shades($name, $color) {
    $darker: darken($color, 7.5%);
    --#{$name}-color: #{$color};
    --#{$name}-color-darker: #{$darker};
}

@mixin statusColors($name) {
    color: white;
    background-color: var(--#{$name}-color);

    &:hover {
        background-color: var(--#{$name}-color-darker);
    }
}

@mixin statusColorsInvenrted($name) {
    color: var(--#{$name}-color);
    border-color: var(--#{$name}-color);
    background-color: transparent;

    &:hover {
        color: var(--#{$name}-color-darker);
        border-color: var(--#{$name}-color-darker);
        background-color: transparent;
    }
}
