.table {
    width: 100%;

    &__row {
        border-top: 1px solid var(--border-color);

        &--header {
            border: none;
        }
    }

    &__cell {
        padding: .5em 1em;

        &--header {
            font-weight: var(--weight-bold);
        }

        &--narrow {
            width: 1%;
            white-space: nowrap;
        }

        &--right {
            text-align: right !important;
        }

        &--centered {
            text-align: center !important;
        }
    }

}
