$navbar-background-color: var(--navbar-background-color);
$navbar-item-color: var(--navbar-item-color);
$navbar-item-hover-color: var(--navbar-item-hover-color);
$navbar-box-shadow-color: var(--background-color);
$navbar-item-hover-background-color: transparent;
