//colors
$colors: ('primary': #e14eca, 'danger': hsl(348, 86%, 61%), 'sidebar-background': #42b883, 'info': #1d8cf8);
$statuses: ('primary', 'success', 'danger');
$light-colors: ('success': #48c774);
$dark-colors: ('success': #389c6f);

$white: hsl(0, 0%, 100%);
$dark-title-color: transparentize($white, 0.2);
$dark-subtitle-color: transparentize($white, 0.3);
$font-color: transparentize($white, 0.4);

// misc
$radius: var(--radius);
$speed: var(--speed);

// breakpoints
$mobile: 576px !default
