.input {
    @extend %control;
    max-width: 100%;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid var(--input-border-color);
    color: var(--input-text-color);
    transition: border-color var(--speed) var(--easing);

    &:focus {
        border-color: var(--focus-color);
    }
}
