.field:not(:last-child):not(.field--marginless) {
    margin-bottom: .75rem;
}

.label {
    color: var(--font-color);
    display: block;
    font-size: var(--size-6);
    font-weight: var(--weight-bold);

    &:not(:last-child) {
        margin-bottom: .5em;
    }
}

.help {
    display: block;
    font-size: var(--size-7);
    margin-top: 0.35rem;
}

.field {
    &--is-half {
        width: 50%;
        display: inline-block;
    }

    &.field--marginless {
        position: relative;

        .help {
            position: absolute;
            left: 0.5em;
        }
    }
}
