.title,
.subtitle {
    word-break: break-word;
}

.title {
    color: var(--title-color);
    font-size: var(--size-3);
    font-weight: var(--weight-semibold);
    line-height: 1.125;

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}

.subtitle {
    color: var(--subtitle-color);
    font-size: var(--size-5);
    font-weight: var(--weight-normal);
    line-height: 1.25;
    margin-top: -1.25rem;
}
