.theme-dark {
    --background-color: #1e1e2f;

    --title-color: #{$dark-title-color};
    --subtitle-color: #{$dark-subtitle-color};
    --font-color: #{$font-color};

    --input-border-color: #2b3553;
    --input-text-color: #{$dark-title-color};
}
