// Colors
html {
    --fon-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    --font-monospace: monospace;
    --render-mode: optimizeLegibility;
    --body-size: 16px;

    --size-1: 3rem;
    --size-2: 2.5rem;
    --size-3: 2rem;
    --size-4: 1.5rem;
    --size-5: 1.25rem;
    --size-6: 1rem;
    --size-7: 0.75rem;

    --weight-light: 300;
    --weight-normal: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;

    // Spacing

    --block-spacing: 1.5rem;

    // Responsiveness

    --gap: 32px;

    --tablet: $tablet;
    --desktop: $desktop;
    --widescreen: $widescreen;
    --fullhd: $fullhd;

    // Miscellaneous

    --easing: ease-out;
    --radius-small: 2px;
    --radius: 4px;
    --radius-large: 6px;
    --radius-rounded: 290486px;
    --speed: 86ms;
}
